[Desktop Entry]
Type=Application
Version=1.0
Name=Install ChomiamOS
GenericName=System Installer
Comment=Install ChomiamOS to your computer
Exec=/usr/local/bin/chomiamos-installer
Icon=system-software-install
Terminal=false
Categories=System;Qt;
X-AppStream-Ignore=true
